In [1]:
#the range operator 
mylist = [1,2,3]
for num in range (0,11,2):
    print (num)

0
2
4
6
8
10

In [5]:
#the enumerate operator

word = 'abcde'

for item in enumerate (word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [3]:
# the zip operator

mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300,400]

In [5]:
for items in zip (mylist1,mylist2,mylist3):
    print(items)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [6]:
# another example of in operator

'a' in 'a word'

True

In [7]:
# another example is the min and max function operators

mylist = [10,20,30,40,100,300]
min(mylist)

10

In [8]:
max(mylist)

300