In [1]:
# A Hello World function

def myfunc ():
    print ('Hello World')

In [9]:
# A function to print Hello Mercy

def myfunc (name):
    print ('My name is {}' .format (name))

In [10]:
# A function that take Boolen values True or False

def myfunc (a):
    if a == True:
        return 'Hello'

    elif a == False:
        return 'Goodby'

In [11]:
# A function using Boolens. Thats takes three argument x,y,z and z is True return x and z is False return y

def myfunc (x,y,z):
    if z == True:
        return x

    else:
        return y

In [12]:
# another function for multiplication, that in two argument and return their sum

def myfunc (a,b):
    return a*b

In [13]:
# another function that takes in one argument and returns True if the passed-n value is even and False if its not


def is_evenly_divisible_by_3(n):
    if n%3 == 0:
        return True
    else:
        return False

In [20]:
# skyline function 

def myfunc (s):
    result = ""
    for i, char in anthropromorphism (s):
        if i % 2 ==0:
            return char.lower ()
        else:
            return char.upper ()
    return result

In [26]:
# solving real world problem with python 
  # I want to returns the lesser of two given numbers if both numbers are even, but to return greater if one or both...
    #...numbers are odd.

#first i am going to develop the function

def lesser_of_two_evens(a,b):
    if a %2 ==0 and b %2 ==0: #meaning both numbers are even
        if a<b:
            result = a
        else:
            result = b
    else: 
        #ONE OR BOTH NUMBERS ARE ODD
        if a>b:
            result = a
        else:
            result = b
    return result

In [27]:
# running the problem to see if the developed function solved the problem

lesser_of_two_evens(2,4)

2

In [28]:
lesser_of_two_evens(2,5)

5

In [5]:
#solving problem with function; to write a function that takes a two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    wordlist = text.split()
    
    return wordlist [0][0] == wordlist[0][1]

In [10]:
#checking the function

animal_crackers('Levelheaded Llama')

False

In [11]:
#solving problem with function; given two integers, return True if the sum of the integers is 20 or if one of the intergers is 20. if not return False

def make_twenty (n1,n2):
    if n1+n2 ==20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [12]:
#check result
make_twenty (10,10)

True

In [13]:
make_twenty(2,3)

False

In [15]:
make_twenty (3,9)

False

In [1]:
#map function - map(func, *iterables) >> map object

def square (num):
    return num**2

In [4]:
my_nums = [1,2,3,4,5]

In [5]:
map (square, my_nums)

In [6]:
#another approach to check

for item in map(square, my_num):
    print (item)

1
4
9
16
25

In [7]:
#3rd apprach to check the function

list (map(square, my_nums))

[1, 4, 9, 16, 25]

In [8]:
#filter function

def check_even (num):
    return num%2 == 0

In [9]:
mynums = [1,2,3,4,5,6]

In [10]:
list (filter(check_even, mynums))

[2, 4, 6]

In [11]:
for n in filter (check_even, mynums):
    print(n)

2
4
6

In [12]:
#Lambda Expression

  #first i will define a new function 
def square (num):
    result = num**2
    return result

In [13]:
square (5)

25

In [21]:
#converting a above functon into a Lambda expression

lambda num: num **2

In [22]:
square (5)

25

In [14]:
list (map (lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]